@import "tailwindcss";

body{
    max-width: 1440px;
    @apply bg-gray-100
}

.invalidOverlay{
    background-color: rgba(255, 255, 255, 0.6);
}
.confirmModal{
    background-color: rgba(0, 0, 0, 0.6);
}
